@import  url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://code.jquery.com/jquery-3.5.1.slim.min.js"); 
@import url("https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); /*use for icon*/
.scroll{
    overflow-x: scroll;
    scroll-behavior: smooth;
    direction: right;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background :linear-gradient(#6d63a5,#5A1AC1);
    
    
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;

}

.logo{
    flex-basis:20%;
}
.logo img{
    width:155px;
    height: 70px;
    float:left;
    /* border:1px solid #bad3d3 ;
    background-color: #bad3d3; */
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:10px;

}

.nav-links{
    flex: 1;
    text-align:right;
    border-radius: 15px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px; 
    margin-top: 25px;
    border-radius: 15px;
   
     
}

.nav-links ul li a{
    color: #000;
    text-decoration:none;
    font-weight: 600;
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color:#fff;
    transition:0.6s ease;
    border-radius: 15px;
}

.nav-links ul li a:hover{
    background-color:#85cde9;
    color:#000;
}

.title{
    position: absolute;
    top:35%;
    right:42%;
    transform: transalte(-50%, 50%);
}
.title h1{
    color:#fff;
    font-size:80px;

}
.heading{
    position: absolute;
    top:49%;
    right:25%;
    transform: transalte(-50%, 50%);
}
.heading h3{
    color:#fff;
    font-size:30px;
    text-align: center;
  

}

.buttonstart{
    position: absolute;
    top:60%;
    right:43%;
    /* transform: translate(-50%, 50%); */
    border-radius: 15px;
}

.btnbtn{
    text-decoration:none;
    color:#fff;
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#a70c4c;
    border:1px solid #a70c4c;
    transition:0.6s ease;
    font-size: 25px;
    border-radius: 15px;
 
}

.buttonstart btnbtn a:hover{
    background-color: #ffffff;
    color:#fff;
    border-radius: 15px;
}
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #575454;
}

#about .btn{
    margin-top:20px;
    margin-bottom:30px;
    border-radius: 15px;
}
.about-content{
    padding-top:20px;
 
}
#contact{
    padding-top: 50px;
    padding-bottom: 50 px;
    color:#555;
    text-align: center;
}

/*NAVBAR
#nav-bar{

    position: sticky;
    top:0;
    z-index:10;

}

.navbar-brand img{

    width:150px;
    align-items: right;
    border:1px solid #bad3d3 ;
    background-color: #bad3d3;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:10px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
     color: #007bff!important;
}
.navbar{
    background-color: #fff;
}
.navbar-toggler{
    border: none!important;  imp (we overwrite a bootstrap clases)
}
.nav-link{
    color:#555!important;
    font-weight:600;
    font-size:16px;
}*/
