table, tr, th, td{
    border:1px solid hsl(0, 5%, 78%);
    text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #3e8e41;
    background-color: hsl(263, 76%, 43%);
    border: none;
    border-radius: 15px;
    
  }
  
  .button:hover {background-color: #3e8e41}
  .button:active {
    background-color: #3e8e41;}
  /*.button:hover {background-color: #7976FE}*/
  
  .button:active {
    background-color: #3e8e41;
    
    transform: translateY(4px);
  }